<launch>

  <!-- ========================================================== -->
  <!-- Launch Arguments                                           -->
  <!-- ========================================================== -->

  <!-- Simulation -->
  <arg name="world_name"
       default="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>

  <arg name="x_pos" default="0.5"/>
  <arg name="y_pos" default="-0.5"/>

  <arg name="namespace" default="lmr1"/>

  <!-- Localization -->
  <arg name="map_file"
       default="$(find lmr1_description)/maps/lmr1_gmapping_turtleworld.yaml"/>

  <!-- Visualization -->
  <arg name="rviz_config"
       default="$(find lmr1_description)/rviz/nav_config.rviz"/>

  <!-- ========================================================== -->
  <!-- Gazebo Simulation                                          -->
  <!-- ========================================================== -->

  <include file="$(find lmr1_description)/launch/gazebo.launch">

    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>

  </include>

  <!-- ========================================================== -->
  <!-- Localization                                               -->
  <!-- ========================================================== -->

  <node pkg="map_server"
        type="map_server"
        name="map_server"
        args="$(arg map_file)"/>

  <include file="$(find amcl)/examples/amcl_diff.launch"/>

  <!-- ========================================================== -->
  <!-- Navigation                                                 -->
  <!-- ========================================================== -->

  <node pkg="move_base"
      type="move_base"
      name="move_base"
      output="screen"
      respawn="false">

        <!-- Costmaps -->
        <rosparam file="$(find lmr1_description)/config/costmap_common_params.yaml"
                  command="load"
                  ns="global_costmap"/>

        <rosparam file="$(find lmr1_description)/config/costmap_common_params.yaml"
                  command="load"
                  ns="local_costmap"/>

        <rosparam file="$(find lmr1_description)/config/local_costmap_params.yaml"
                  command="load"/>

        <rosparam file="$(find lmr1_description)/config/global_costmap_params.yaml"
                  command="load"/>

        <!-- Local Planner -->
        <rosparam file="$(find lmr1_description)/config/base_local_planner_params.yaml"
                  command="load"/>

        <!-- /cmd_vel Publisher Topic -->          
        <remap from="cmd_vel" to="/$(arg namespace)/cmd_vel"/>

  </node>

  <!-- ========================================================== -->
  <!-- Visualization                                              -->
  <!-- ========================================================== -->

  <node name="rviz"
        pkg="rviz"
        type="rviz"
        output="screen"
        args="-d $(arg rviz_config)"/>

</launch>
