<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="caster_wheel_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>

            <mass value="${caster_mass}"/>

            <xacro:sphere_inertia
                mass="${caster_mass}"
                radius="${caster_radius}"/>
        </inertial>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>

            <geometry>
                <sphere radius="${caster_radius}"/>
            </geometry>
        </collision>

    </link>

    <joint name="caster_wheel_joint"
           type="fixed">

        <origin
            xyz="${caster_offset_x}
                 ${caster_offset_y}
                 ${caster_offset_z}"
            rpy="0 0 0"/>

        <parent link="base_link"/>
        <child link="caster_wheel_link"/>
    </joint>

</robot>